*,
::after,
::before {
	margin: 0;
}
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #161616;
	display: grid;
	grid-template-columns: 450px;
	justify-content: center;
	align-content: center;
}

button {
	background-color: rgb(109, 49, 206);
	border: none;
	padding: 1rem;
	border-radius: 0.7rem;
	cursor: pointer;
	transition: all 150ms ease-in-out;
}

button:hover {
	background-color: rgb(121, 69, 206);
}

button:active {
	background-color: rgb(130, 81, 209);
}
